<div class="form-group"
     [class.has-success]="iptNumber.valid && (iptNumber.dirty || iptNumber.touched)"
     [class.has-error]="!iptNumber.valid && (iptNumber.dirty || iptNumber.touched)"
>
  <label class="control-label sr-only" for="number"><i class="fa fa-check"></i> Número</label>
  <input type="text" class="form-control" id="number" name="number" #iptNumber="ngModel" ngModel placeholder="Número" required autocomplete="off">
  <span class="help-block" *ngIf="iptNumber.valid && (iptNumber.dirty || iptNumber.touched)">
              <i class="fa fa-check"></i> Ok
            </span>
</div>